// SF Compact Display

@font-face {
  font-family: 'SF Compact Display';
  src: url('/assets/fonts/SFdisplay-regular.ttf') format('truetype');
}
@font-face {
  font-family: 'SF lite';
  src: url('/assets/fonts/sf-lite.ttf') format('truetype');
}
